.header{
    padding: 2em;
    background-color: var(--text-black);
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    
    background-color: var(--text-white);
    text-align: center;
    color: var(--text-black);
    border-radius: 10px;
    padding: 2em;
    max-height: 100vh;
    overflow: scroll;
    
}

.card:hover{
    -webkit-box-shadow: -1px 0px 34px 6px rgba(87,87,87,0.91); 
    box-shadow: -1px 0px 34px 6px rgba(87,87,87,0.91);
    transition: .8s;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 2em;
}
.card-perfil{
    max-width: 50%;
    min-width: 200px;
}
.card-perfil img{
    width: 200px;
    border-radius: 50%;
    
}

.info-perfil{
    max-width: 50%;
    min-width: 200px;
    
}

.info-perfil p {
    text-align: justify;
}