.Home{
    text-align: center;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.welcome{
    color: var(--text-white);
}

.Home div img {
    width: 200px;
    border-radius: 50%;
}


.Home div h1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: var(--text-white);
}

.Home div h1 span {
    display: inline-block;
}

  .letters{
    padding: 2em;
  }
  

  span {
    font-family: 'Stick No Bills', sans-serif;
    color: var(--text-white);
    font-size: 3em;
    font-weight: 600;
    font-style: italic;
  }

  
  
  