@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  
}
body {
  font-family: 'Poppins', sans-serif;
  
}
/*nav bar*/
.container-all{
  width: 80%;
  margin-left: 10%;
}

.nav-bar{
 
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  }

.logo{
  width: 80px;
  cursor: pointer;
  margin-left: 30px;
}

.menu-items {
  display: flex;
}

.menu-items button {
  border: none;
  background-color: white;
  padding: 7px 13px;
  
  text-transform: uppercase;
  border-radius: 6px;
}

.menu-items li {
  margin: 0 5px;
  
}

.menu-items li button:hover{
  background-color: black;
  color: white;
  transition: .5s;
}

.btn-menu{
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
  display:none;
}

ul.show {
  top:65px;
}

@media screen and (max-width:953px) {
  .nav-bar{
    height: 70px;
  }
  .logo {
    width: 65px;
  }
}

@media  screen and (max-width:858px){
  .container-all{
    width: 100vw;
    margin: 0;
  }
  .nav-bar{
    height: 70px;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 7px 23px -6px rgba(0,0,0,0.53);
    -moz-box-shadow: 0px 7px 23px -6px rgba(0,0,0,0.53);
    box-shadow: 0px 7px 23px -6px rgba(0,0,0,0.53);
  }
  .logo {
    width: 65px;
  }
 .btn-menu{
  display: inline-flex;
 }
  .menu-items {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: black;
    color: white;
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }
  .menu-items li {
    margin: 30px 0;
    line-height: 30px;
  }

  .menu-items li button:hover {
    background-color: white;
    color: black;
  }

  .menu-items button {
    color: white;
    background-color: black;
  }
}

@media screen and (max-width: 858px) and (orientation:landscape) {
  

  .menu-items{
    overflow: scroll;
    height: calc(100vh - 70px);
  }
}





