@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@800&display=swap');

:root{
  --text-white:white;
  --text-black:black;
  --background-color:#111111;
}
*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
}
/*nav bar*/


.nav-bar{
 
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  }

  .nav-bar h2 {
    color: var(--text-white);
    font-family: 'Stick No Bills', sans-serif;
    margin-left: 2em;
    cursor: pointer;
  }



.menu-items {
  display: flex;
}

.menu-items button {
  border: none;
  background-color: var(--background-color);
  padding: 7px 13px;
  color: var(--text-white);
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
}



.menu-items li button:hover{
  background-color: var(--text-white);
  color: var(--background-color);
  transition: .5s;
}

.btn-menu{
  margin-right: 30px;
  font-size: 25px;
  cursor: pointer;
  display:none;
  color: var(--text-white);
}

ul.show {
  top:65px;
}

@media screen and (max-width:953px) {
  .nav-bar{
    height: 70px;
  }
  .logo {
    width: 65px;
  }
}

@media  screen and (max-width:858px){
  .container-all{
    width: 100vw;
    margin: 0;
  }
  .nav-bar{
    height: 70px;
    background-color: var(--background-color);
    -webkit-box-shadow: 0px 7px 23px -6px var(--text-white);
    -moz-box-shadow: 0px 7px 23px -6px var(--text-white);
    box-shadow: 0px 7px 23px -14px var(--text-white);
  }
  .logo {
    width: 65px;
  }
 .btn-menu{
  display: inline-flex;
 }
  .menu-items {
    position: fixed;
    width: 100vw;
    height: calc(100vh - 70px);
    background-color: var(--background-color);
    color: var(--text-white);
    top: -100vh;
    text-align: center;
    transition: all .4s;
    flex-direction: column;
  }
  .menu-items li {
    margin: 30px 0;
    line-height: 30px;
  }

  .menu-items li button:hover {
    background-color: var(--text-white);
    color: var(--background-color);
  }

  .menu-items button {
    color: var(--text-color);
    background-color: var(--background-color);
  }
}

@media screen and (max-width: 858px) and (orientation:landscape) {
  

  .menu-items{
    overflow: scroll;
    height: calc(100vh - 70px);
  }
}





